/* body */
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6,
div.img.block,
ul, ol,
.list-item,
div.img.center,
#title,
.twitter-tweet,
.twitter-video {
    max-width: 768px;
    padding: 0 20px;
    margin: 30px auto;
}

.twitter-tweet,
.twitter-video {
    max-width: 768px !important;
    padding: 0 20px !important;
    margin: 30px auto !important;
}

p:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
ul:before,
ol:before {
    content: ' ';
    display: table;
    width: 300px;
}

a, a:hover {
    color: #000;
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
    text-decoration: none;
}

/* paragraphs */
p,
ul, ol {
    line-height: 26px;
    font-family: 'Noto Sans', sans-serif;
}

p.credit {
    margin-top: 0;
    font-size: 12px;
    font-style: italic;
}

@media (max-width: 450px) {
    p {
        padding: 0 10px;
    }
}

@media (max-width: 275px) {
    p {
        padding: 0 5px;
    }
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Karma', serif;
    margin-bottom: 20px;
    text-align: center;
}

h2, h3, h4, h5, h6 {
	font-weight: 600;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

/* title */
#title {
    margin-top: 0;
    padding-top: 10px;
    border-bottom: 1px solid #999;
    border-radius: 0 0 3px 3px;
}

#title.withleader {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

#title h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
}

#title p.subheading {
    float: right;
    margin-top: 6px;
    text-align: right;
}

#title p.subheading:before {
    width: auto;
}

@media (max-width: 768px) {
    #title h2 {
        text-align: center;
    }

    #title p.subheading {
        display: none;
    }
}

/* subheading */

p.subheading {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    margin-top: -30px;
}

p.subheading a,
p.subheading a:hover {
    text-decoration: none;
}

/* date */
p.date {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
	margin-top: -10px;
}

/* utils */
.center {
    text-align: center;
}

/* images */

img {
    margin: 0 30px 10px;
    max-width: 100%;
}

img,
.fade {
    transition: opacity 100ms linear;
}

img.left {
    float: left;
    margin-left: 0;
}

img.right {
    float: right;
    margin-right: 0;
}

div.img.block {
    text-align: center;
}

div.img.block {
    padding: 0;
}

div.img img {
    margin: 0;
}

img.center {
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
}

div.img.max img {
	width: 100%;
}

/* Special case rendering on posts */

iframe.twitter-tweet {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.gist,
pre.highlight,
code {
    max-width: 768px;
    margin: 0 auto;
}

pre.highlight code {
    display: block;
    padding: 5px 15px;
    line-height: 20px;
}

code {
    white-space: pre-wrap;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #aaa;
    border-style: solid;
}

embed {
    width: 100%;
    text-align: center;
}

body > img {
    margin: 0 auto;
    display: block;
}

ul li, ol li {
    margin-left: 20px;
}

.youtube-player {
    margin: 0 auto 30px;
    display: block;
}

.gist-meta {
    display: none;
}

.gist .gist-data {
    border-bottom: 0px !important;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #170017 !important;
        color: #fff9e0;
    }

    a,
    a:hover {
        color: #fff9e0;
    }

    code {
        background-color: #eee;
        border-color: #aaa;
    }

    div.leader,
    div.list-leader {
        text-shadow: none !important;
    }

    .slideshow-container .next a,
    .scrolldown,
    .scrollright {
        color: #170017 !important;
    }
}