.footer,
.pagination {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.footer {
  font-size: 12px;
}

.footer.small {
  font-size: 10px;
}

.pagination a,
.pagination a:hover,
.footer a,
.footer a:hover {
  text-decoration: none;
}

.pagination a {
  font-weight: 700;
  padding: 10px 15px;
}

.footer a {
  border-right: 1px solid #ccc;
  margin-right: 2px;
  padding-right: 7px;
  font-size: 12px;
  font-style: italic;
}

.footer a:last-child {
  border-right-width: 0;
}
