<h1><a href="/">Chris Alexander</a></h1>

<p>I am engineer holding an MEng Applied Robotics degree. My current area of work is software
    and data platforms for top tier motorsport; I have over 8 years experience in this field and have worked for several
    startups.</p>

<p>I mentor for <a
        href="https://www.stem.org.uk/news-and-views/news/raising-aspirations-through-new-mentoring-programme"
        target="_blank">STEM
        Ambassadors</a> and the
    <a href="https://www.reading.ac.uk/essentials/Careers/Advice-and-development/Mentoring/THRIVE"
        target="_blank">University of Reading Thrive
        scheme</a>.
</p>

<p>My passions outside work are music (I conduct a brass band and record a variety of music), digital photography and
    travel.</p>

<p>Photography portfolio: <a href="https://csnap.uk" target="_blank">csnap.uk</a>.</p>

<p>Please get in touch by e-mailing chris@chris-alexander.co.uk</p>

<p class="footer">
    <a href="https://github.com/chrisalexander" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/chrisalexanderuk" target="_blank" data-proofer-ignore>LinkedIn</a>
</p>