<h1><a href="/">Chris Alexander</a></h1>

<p>I am engineer holding an MEng Applied Robotics degree. I am currently Head of Software Engineering for Arrow McLaren
    IndyCar team; I have over 10 years experience in motorsport. Previously I have worked for several
    startups. I mentor through a number of programmes.</p>

<p>My passions outside work are music (I conduct a brass band and record a variety of music), <a href="https://csnap.uk"
        target="_blank">digital photography</a> and
    travel.</p>

<p>Please get in touch by e-mailing chris@chris-alexander.co.uk</p>

<p class="footer">
    <a href="https://www.linkedin.com/in/chrisalexanderuk" target="_blank" data-proofer-ignore>LinkedIn</a>
    <a href="https://github.com/chrisalexander" target="_blank">Github</a>
</p>