{% if page.leader %}
<div id="leader" class="bgfade leader{% if page.leader.hidetext %} textfade{% else %} scrollfade{% endif %}{% if page.leader.inverted %} inverted{% endif %}{% if page.leader.position %} {{page.leader.position}}{% endif %}"{% if page.leader.image %} style="background-image: url({{ page.leader.image }})"{% endif %}>
  {% if page.heading or page.subheading %}
    <div class="text">
        {% if page.heading %}<h1>{{ page.heading }}</h1>{% endif %}
        {% if page.subheading %}<p>{{page.subheading}}</p>{% endif %}
    </div>
  {% endif %}
</div>
{% endif %}
