<meta charset="utf8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="author" content="Chris Alexander">
<meta name="revisit-after" content="1 days">
<meta name="robots" content="FOLLOW,INDEX">
<meta name="description" content="Chris Alexander's blog On Engineering - talking about tech, engineering, robots, and everything involving electrons">
<meta name="keywords" content="Chris Alexander engineering tech technology engineering robots blog">

<meta itemprop="name" content="On Engineering - Chris Alexander">
<meta itemprop="description" content="Chris Alexander's blog On Engineering - talking about tech, engineering, robots, and everything involving electrons">
<!--<meta itemprop="image" content="">-->

<meta property="og:title" content="On Engineering - Chris Alexander">
<meta property="og:type" content="blog">
<meta property="og:site_name" content="Chris Alexander's blog, On Engineering">
<!--<meta property="og:image" content="" />-->

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
