<meta charset="utf8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="author" content="Chris Alexander">
<meta name="revisit-after" content="1 days">
<meta name="robots" content="FOLLOW,INDEX">
<meta name="description" content="{% if page.heading %}{{ page.heading }}{% endif %}{% if page.subheading %} - {{ page.subheading }}{% endif %}">
<meta name="keywords" content="Chris Alexander engineering tech technology engineering robots blog">

<meta itemprop="name" content="{% if page.heading %}{{ page.heading }}{% else %}On Engineering{% endif %}">
<meta itemprop="description" content="{% if page.subheading %}{{ page.subheading }}{% endif %}">
<meta itemprop="image" content="{% if page.leader.image %}{{ page.leader.image }}{% else %}/img/logo-150.png{% endif %}">

<meta name="twitter:card" content="summary{% if page.leader.image %}_large_image{% endif %}" />
<meta name="twitter:site" content="@chris_alexander" />
<meta name="twitter:creator" content="@chris_alexander" />

<meta property="og:title" content="{% if page.heading %}{{ page.heading }}{% endif %}{% if page.subheading %} - {{ page.subheading }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | truncatewords:50 | strip_html }}{% else if page.subheading %}{{ page.subheading }}{% else if page.heading %}{{ page.heading }}{% endif %}">
<meta property="og:url" content="http://chris-alexander.co.uk{{ page.url }}">
<meta property="og:type" content="blog">
<meta property="og:site_name" content="On Engineering">
<meta property="og:image" content="{% if page.leader.image %}{{ page.leader.image }}{% else %}/img/logo-150.png{% endif %}" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">

<link rel="apple-touch-icon" href="/img/icon-60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/icon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/icon-152.png">

<link rel="apple-touch-startup-image" href="/img/launch-320x460.png" media="(device-width: 320px)">
<link rel="apple-touch-startup-image" href="/img/launch-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" href="/img/launch-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2">
<link rel="apple-touch-startup-image" href="/img/launch-768x1004.png" media="(device-width: 768px) and (orientation: portrait)">
<link rel="apple-touch-startup-image" href="/img/launch-748x1024.png" media="(device-width: 768px) and (orientation: landscape)">
<link rel="apple-touch-startup-image" href="/img/launch-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" href="/img/launch-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">

<link rel="shortcut icon" sizes="128x128" href="/img/icon-128.png">
<link rel="shortcut icon" sizes="196x196" href="/img/icon-196.png">

<meta name="application-name" content="On Engineering"/>

<meta name="theme-color" content="#ffffff">

<link rel="manifest" href="/manifest.json">

<link rel="icon" sizes="1024x1024" href="/img/icon-1024.png">
<link rel="icon" sizes="120x120" href="/img/icon-120.png">
<link rel="icon" sizes="128x128" href="/img/icon-128.png">
<link rel="icon" sizes="152x152" href="/img/icon-152.png">
<link rel="icon" sizes="16x16" href="/img/icon-16.png">
<link rel="icon" sizes="196x196" href="/img/icon-196.png">
<link rel="icon" sizes="256x256" href="/img/icon-256.png">
<link rel="icon" sizes="30x30" href="/img/icon-30.png">
<link rel="icon" sizes="32x32" href="/img/icon-32.png">
<link rel="icon" sizes="48x48" href="/img/icon-48.png">
<link rel="icon" sizes="60x60" href="/img/icon-60.png">
<link rel="icon" sizes="64x64" href="/img/icon-64.png">
<link rel="icon" sizes="76x76" href="/img/icon-76.png">
<link rel="icon" sizes="90x90" href="/img/icon-90.png">
