<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog">
<head>

    <title>{% if page.heading %}{{ page.heading }} - {% endif %}{% if page.subheading %}{{ page.subheading }} - {% endif %}On Engineering - Chris Alexander</title>

    {% include meta.html %}
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Karma:700,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/leader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="/css/slideshow.css">
    
    <script src="/js/class.js" type="text/javascript"></script>
    <script src="/js/images.js" type="text/javascript"></script>
    <script src="/js/text.js" type="text/javascript"></script>
    
    <script data-ad-client="ca-pub-0956294658410505" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% if page.date %}<meta name="date" content="{{ page.date | date: "%Y-%m-%d" }}" scheme="YYYY-MM-DD">{% endif %}
    
    {% include analytics.html %}
</head>
<body>

{{content}}

<script type="text/javascript" src="/js/init.js"></script>
</body>
</html>
