---
layout: base
---

<a name="" href="/"></a>
<div class="slideshow-container" style="opacity: 0">
  <div class="image">
    <img class="overscroll" src="/img/icon-16.png">
    <p class="scrollright">Scroll &raquo;</p>
    <p class="scrolldown">Scroll <span class="rot90">&raquo;</span></p>
  </div>
  <div class="description">
    <p class="nextlink"><a href="#" onclick="currentSlideshow.next(event)">Next &raquo;</a></p>
    <h1 class="heading"></h1>
    <p class="subheading"></p>
  </div>
  <div class="next center">
    <p><a href="#" onclick="currentSlideshow.next(event)">Next &raquo;</a></p>
  </div>
</div>

<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/slideshow.js"></script>
{{content}}
<script type="text/javascript">
var currentSlideshow = slideshow(config, document.getElementsByClassName("slideshow-container")[0]);
currentSlideshow.begin();
</script>
